# файл конфигурации для MyBlog

# Хост базы данных ( MySQL-5.7)
DB_HOST=127.0.1.29

# Имя базы данных
DB_NAME=blog_db

# Пользователь базы данных
DB_USER=root

# Пароль базы данных (в OSPanel по умолчанию пустой)
DB_PASS=

# Название приложения
APP_NAME=MyBlog
